name: Python Script
on:
 push:
  branches:
   - 'main'
jobs:
 run-script:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout repository
    uses: actions/checkout@v4
      
  - name: Set Up Python
    uses: actions/setup-python@v4
    with:
     python-version: '3.11'
     
  - name: Install Dependencies
    run: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
      
  - name: Running Bot
    env: 
     USRNAME: ${{ secrets.USRNAME }}
     PWD: ${{ secrets.BSKY_CODE }}
     CAT_PATH: ${{ secrets.CAT_PATH }}
    run: python gz-bot.py
